body {
	background-color: #6161f7;
	padding: 0;
	margin: 0;
	font-family: Verdana;
  color: white;
}

.container{
  padding-top: 8%;
}

h1{
  color: #ffffff;
  margin-left:13%;
  font-size: 40px;
}

input{
font-family:"Verdana";
font-size:100%;
background-color:#f2f2f2;
border: 1px solid #bdbdbd;
border-radius:5px;
padding: 5px 5px 5px 20px;
margin-bottom: 10px;
}

#user{
background-image:url(../img/user.png);
background-repeat: no-repeat;
background-position: 2px 3px;
}

#password{
background-image:url(../img/password.png);
background-repeat: no-repeat;
background-position: 7px 3px;
}

.button{
font-family:"Verdana";
font-size:100%;
background-color:#f2f2f2;
border: 1px solid #bdbdbd;
border-radius:5px;
padding: 7px 7px 7px 7px;
margin-bottom: 10px;
}

.form{
  width: 400px;
  margin-left: 38%;
  padding: 50px;
}

.loginhelp{
  font-size:90%;
  color:white;
}
